/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: 'Montserrat', sans-serif; 
}

body {
    background-color: #141922;
    color: #fff;
}

div.content {
    display: flex;
}

ul {
    list-style: none;
}

/* MAIN STRUCTURE */

header {
    width: calc(100vw - 250px);
    height: 90px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: auto;
    position: fixed;
    top: 0;
}

aside {
    width: 250px;
    height: calc(100vh - 110px);
    background-color: black;
    color: #a3a3a3;
    font-size: 0.8rem;
}

main {
    height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100vw - 250px);
    background-color: #141922;
    margin-left: auto;
    margin-top: 90px;
    padding-bottom: 100px;
}

footer {
    height: 110px;
    width: calc(100vw);
    background-color: #282828;
    position: fixed;
    bottom: 0;
}

/* ASIDE */

aside img.spotify-logo {
    width: 70%;
    padding-top: 25px;
}

aside {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-bottom: 10px;
}

aside ul.nav-menu {
    padding-top: 20px;
}

aside ul li img {
    width: 15%;
    vertical-align: middle;
    padding-bottom: 10px;
}

aside h3 {
    font-size: 1rem;
    padding: 15px 0;
    color: #fff;
}

aside ul li {
    font-weight: 500;
    vertical-align: middle;
}

aside ul li i {
    font-size: 3rem;
    vertical-align: middle;
    padding-right: 5px;
}

.playlist-section {
    flex-grow: 1;
    overflow: hidden;
}

.add-playlist {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #a3a3a3;
    color: black;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.create-playlist {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.2rem;
    padding-top: 0;
}

.playlist {
    height: calc(100% - 89px);
    overflow-y: auto;
}

.playlist li {
    padding-top: 20px;
}

.aside-bottom img {
    width: 20px;
}

.download {
    border-bottom: 1px solid #a3a3a3;
    margin-right: 25px;
    padding-bottom: 10px;
    line-height: 20px;
    display: flex;
}

.download span {
    margin-left: 10px;
}

.profile {
    margin-top: 15px;
    line-height: 30px; 
    display: flex; 
}

.profile span {
    margin-left: 10px;
    font-weight: 800;
    color: #fff;
}

.profile img {
    width: 30px;
    height: 30px;
    background-color: #808080;
    color: #fff;
    padding: 3px;
    border-radius: 50%;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header a {
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 0.8rem 1.7rem;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-right: 25px;
}

/* MAIN */
.main-content {
    display: flex;
    justify-content: center;
}

main ul li {
    display: inline-block;
    font-size: 1rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
}

.section-title {
    font-size: 2.5rem;
    padding: 70px 0 20px 35px;
}

.section-subtitle {
    font-size: 1rem;
    color: #7d7f84;
    padding-bottom: 20px;
    padding-left: 35px;
    
}

.song-icons {
    display: flex;
}

.song {
    width: calc(95% / 6);
    padding-left: 35px;
    margin-top: 20px;
}

.song img {
    width: 100%;
}

.song-title {
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.song-subtitle {
    text-align: center;
    font-size: 1rem;
    color: #7d7f84;
}

.circle-img {
    border-radius: 50%;
}