/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: 'Montserrat', sans-serif; 
}

body {
    background-color: #141922;
    color: #fff;
}

div.content {
    display: flex;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#adff2f);
    border-radius: 4.5px;
}

/* MAIN STRUCTURE */

header {
    width: calc(100vw - 250px);
    height: 90px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: auto;
    position: fixed;
    top: 0;
}

aside {
    width: 250px;
    height: calc(100vh - 110px);
    background-color: black;
    color: #a3a3a3;
    font-size: 0.8rem;
    padding-left: 15px;
    padding-bottom: 10px;
}

main {
    height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100vw - 250px);
    background-color: #141922;
    margin-left: auto;
    margin-top: 90px;
    padding-bottom: 100px;
}

footer {
    height: 110px;
    width: calc(100vw);
    background-color: #282828;
    position: fixed;
    bottom: 0;
}

/* ASIDE */

.aside-xs {
    display: none;
}

aside img.spotify-logo {
    width: 70%;
    padding-top: 25px;
}

.aside-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

aside ul.nav-menu {
    padding-top: 20px;
}

aside ul li img {
    width: 15%;
    vertical-align: middle;
    padding-bottom: 10px;
}

aside h3 {
    font-size: 1rem;
    padding: 15px 0;
    color: #fff;
}

aside ul li {
    font-weight: 500;
    vertical-align: middle;
}

aside ul li i {
    font-size: 3rem;
    vertical-align: middle;
    padding-right: 5px;
}

.playlist-section {
    flex-grow: 1;
    overflow: hidden;
}

.add-playlist {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #a3a3a3;
    color: black;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.create-playlist {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.2rem;
    padding-top: 0;
}

.playlist {
    height: calc(100% - 89px);
    overflow-y: auto;
}

.playlist li {
    padding-top: 20px;
}

.aside-bottom img {
    width: 20px;
}

.download {
    border-bottom: 1px solid #a3a3a3;
    margin-right: 25px;
    padding-bottom: 10px;
    line-height: 20px;
    display: flex;
}

.download span {
    margin-left: 10px;
}

.profile {
    margin-top: 15px;
    line-height: 30px; 
    display: flex; 
}

.profile span {
    margin-left: 10px;
    font-weight: 800;
    color: #fff;
}

.profile img {
    width: 30px;
    height: 30px;
    background-color: #808080;
    color: #fff;
    padding: 3px;
    border-radius: 50%;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header a {
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    padding: 0.8rem 1.7rem;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-right: 25px;
}

/* MAIN */
.main-content {
    display: flex;
    justify-content: center;
}

main div.main-content ul {
    text-align: center;
}

main div.main-content ul li {
    display: inline-block;
    font-size: 1rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
}

.section-title {
    font-size: 2.5rem;
    padding: 70px 0 20px 35px;
}

.section-subtitle {
    font-size: 1rem;
    color: #7d7f84;
    padding-bottom: 20px;
    padding-left: 35px; 
}

.song-icons {
    display: flex;
}

.song {
    width: calc(95% / 6);
    padding-left: 2rem;
    margin-top: 20px;
}

.song img {
    width: 100%;
}

.song-title {
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.song-subtitle {
    text-align: center;
    font-size: 1rem;
    color: #7d7f84;
}

.circle-img {
    border-radius: 50%;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right {
    width: 300px;
    height: 70px;
    background-color: #adff2f;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.footer-left {
    height: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.footer-left img{
    width: 60px;
    height: 60px;
}

.song-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 15px;
}

.played-song-title {
    font-size: 0.8rem;
    font-weight: 600;
}

.played-song-subtitle {
    font-size: 0.7rem;
    color: #7d7f84;
}

.footer-left-icons {
    margin-left: 35px;
    font-size: 1.2rem;
    color: #7d7f84;
}

.footer-left-icons i {
    padding-right: 10px;
}

.footer-mid {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
}

.footer-mid-top {
    height: 50%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.footer-mid-top i {
    font-size: 1.4rem;
    padding: 1.5rem;
}

i.fa-play-circle {
    font-size: 2.3rem;
    padding: 2.5rem;
}

.footer-mid-bottom {
    height: 50%;
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.time-bar {
    position: relative;
    margin: 0 25px;
    height: 5px;
    width: 90%;
    background-color: #5a5a5a;
    border-radius: 2.5px;
}

.time-bar-passed {
    position: absolute;
    left: 0;
    top: 0;
    width: 15%;
    height: 5px;
    border-radius: 2.5px;
    border-radius: 2.5px;
    background-color: #c1c1c1;
}

.song-time {
    font-size: 0.8rem;
    font-weight: 600;
}



/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {
    .song {
        width: calc(95% / 4);
        padding-left: 1rem;
        margin-top: 20px;
    }
    .song-icons {
        display: flex;
        flex-wrap: wrap;
    }
    .song-title {
        text-align: center;
        padding: 20px 0;
        font-size: 1.2rem;
        font-weight: 700;
    }
}

@media screen and (max-width: 700px) {
    
    main div.main-content ul li {
        display: inline-block;
        text-align: center;
        font-size: 1rem;
        padding-right: 1.5rem;
        padding-top: 1.5rem;
    }
    .song {
        width: calc(95% / 2);
        padding-left: 1rem;
        margin-top: 20px;
    }
    .song-icons {
        display: flex;
        flex-wrap: wrap;
    }
    .song-title {
        text-align: center;
        padding: 20px 0;
        font-size: 1.2rem;
        font-weight: 700;
    }
}

@media screen and (max-width: 600px) {
    main {
        width: calc(100vw - 50px);
    }
    header {
        width: calc(100vw - 50px);
    }
    aside {
        width: 50px;
        height: calc(100vh - 110px);
        padding: 13px 7px;
    }
    .aside-content{
        display: none;
    }
    .aside-xs {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .logo-xs {
        margin-bottom: 25px;
        width: 100%;
    }
    .icon-xs {
        flex-grow: 1;
    }
    .icon-xs img {
        width: 100%;
        padding-bottom: 10px;
    }
    .download-xs img{
        width: 80%;
        margin-left: 2px;
        align-self: center;
        padding-bottom: 20px;
    }
    .profile-xs img{
        width: 35px;
        height: 35px;
        background-color: #808080;
        color: #fff;
        padding: 1px;
        border-radius: 50%;
        margin-left: 1px;
    }
    main div.main-content ul {
        margin-left: 1rem;;
    }
    main div.main-content ul li {
        display: inline-block;
        text-align: center;
        font-size: 1rem;
        padding-right: 1.5rem;
        padding-top: 1.5rem;
    }
    .song {
        width: calc(95% / 2);
        padding-left: 1rem;
        margin-top: 20px;
    }
    .song-icons {
        display: flex;
        flex-wrap: wrap;
    }
    .song-title {
        text-align: center;
        padding: 20px 0;
        font-size: 1.2rem;
        font-weight: 700;
    }
}